@media screen and (max-width: 992px) {
    .cabecalho_esq {
        text-align: center;
        padding-top: 3%;
        padding-bottom: 3%;
        margin-left: 0;
    }
    .cabecalho_direita {
        text-align: center;
        margin-right: 0;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    h1 {
        text-align: center;
        margin-left: 0;
    }
    .conteudo {
        padding-top: 20%;
        padding-bottom: 20%;
    }
    .conteudo h1{
        padding-bottom: 5%;
    }
    #main {
        margin: 0 auto;
        width: 100%;
      }
    
}