h1 {
    color: white;
    margin-left: 7%;
    font-family: 'Butler ExtraBold', serif;
    font-size: 3em;
}
h1>a {
    color: white
}
h2, h2>a {
    text-align: center;
    color: white;
    font-family: 'Butler ExtraBold', serif;
    font-weight: 500;
}
h3 a {
    color: white;
}
h2 a:hover, h2 a:active, h2 a:focus {
    color: #9E9E9E;
    text-decoration: none;
}
.conteudo {
    padding-top: 6%;
    padding-bottom: 14%;
}
body {
    background: url(../img/index.jpg) center;
    height: 100vh;
}
.titulo {
    padding-top: 3%;
}
.container {
    margin: 0 auto;
    width: 100%;
}